@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,800');

@media only screen and (max-width: 992px) {
    #big_line_mobile_display {
        display: block;
    }
    #big_line_desktop_display {
        display: none;
    }
    #middle_number_desktop {
        display: none;
    }
    #middle_number_mobile {
        display: block;
    }
}
@media only screen and (min-width: 992px) {
    #big_line_mobile {
        display: none;
    }
    #big_line_desktop {
        display: block;
    }
    #middle_number_desktop {
        display: block;
    }
    #middle_number_mobile {
        display: none;
    }
}

body {
    font-family: 'Poppins', 'sans-serif' !important;
    box-sizing: border-box;
}

#first_bg {
    background: url("https://cdn.colorlib.com/illdy/wp-content/themes/illdy/layout/images/front-page/front-page-header.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 923px;
    overflow: hidden;
    text-align: center
}

.illdy {
    height: 75px;
    width: 155px;
}

.nav-link {
    margin-left: 10px;
    font-weight: 500;
    color: white !important;
    font-size: 15px;
}

.nav-link:hover {
    color: #f1d204 !important;
    transition: color .1s;
}

.navbar-toggler {
    border: none !important;
}

.inner_mobile_menu {
    background-color: white;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 55px;
    font-size: 15px;
    padding-top: 15px;
}

.a_mobile:link {
    text-decoration: none !important;
    color: black !important;
}

.a_mobile:active {
    text-decoration: none !important;
    color: black !important;
}

.a_mobile:visited {
    text-decoration: none !important;
    color: black !important;
}

#big_line_desktop {
    padding-top: 250px;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: white;
}

#big_line_mobile {
    padding-top: 20px;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

#middle_desktop {
    text-align: center;
}

.dot {
    color: #f1d204;
}

.btn {
    width: 240px;
    height: 65px;
    border-radius: 4px;
    color: white !important;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

#learn_more {
    border: white solid 3px;
    background-color: rgba(55, 55, 55, 0.5);
    margin-bottom: 10px;
}

#learn_more:hover {
    border: white solid 2px;
    background-color: rgba(55, 55, 55, 0.3);
    margin-bottom: 10px;
}

#download {
    background-color: #f1d204;
    border: none;
}

#download:hover {
    background-color: #522d80;
}

#center {
    display: inline-block;
}

#about {
    background-size: cover;
    overflow: hidden;
    text-align: center;
}

.written {
    display: block;
}

.in_between {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    float: right;
    display: inline;
    position: absolute;
    top: -3px;
}

.percentage {
    width: 65px;
    height: 30px;
    border-radius: 3px;
    color: white;
    position: absolute;
    top: 10px;
    text-align: center;
    font-size: 15px;
    padding-top: 3px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    position: absolute;
    top: 40px;
}

#percentage_red {
    background-color: #f18b6d;
    right: 40%;
    margin-right: -29px;
}

#triangle_red {
    color: #f18b6d;
    right: 40%;
    margin-left: 1px;
}

#red_in_between {
    background-color: #f18b6d;
    right: 40%;
}

#percentage_position_red {
    display: block;
}

#percentage_yellow {
    background-color: #f1d204;
    right: 18%;
    margin-right: -29px;
}

#triangle_yellow {
    color: #f1d204;
    right: 18%;
    margin-left: 1px;
}

#yellow_in_between {
    background-color: #f1d204;
    right: 18%;
}

#percentage_violet {
    background-color: #6a4d8a;
    right: 14%;
    margin-right: -29px;
}

#triangle_violet {
    color: #6a4d8a;
    right: 14%;
}

#violet_in_between {
    background-color: #6a4d8a;
    right: 14%;
}

.bar {
    width: 80%;
    display: block;
    position: relative;
    margin-bottom: 40px;
    margin-top: 20px;
    top: 40px;
}

#progress1_1 {
    width: 60%;
    border-bottom: 3px solid #f18b6d;
    float: left;
}

#progress1_2 {
    width: 40%;
    border-bottom: 2px solid #D3D3D3;
    float: right;
}

#progress2_1 {
    width: 82%;
    border-bottom: 3px solid #f1d204;
    float: left;
}

#progress2_2 {
    width: 18%;
    border-bottom: 2px solid #D3D3D3;
    float: right;
}

#progress3_1 {
    width: 86%;
    border-bottom: 3px solid #6a4d8a;
    float: left;
/*         right: 0;
        top: -10px;*/
}

#progress3_2 {
    width: 14%;
    border-bottom: 2px solid #D3D3D3;
    float: right;
}

#about {
    background-size: cover;
    overflow: hidden;
    text-align: center;
}

#projects {
    background-size: cover;
    overflow: hidden;
    text-align: center;
    background-image: repeating-linear-gradient(120deg, #DCDCDC 1px, white 3px, white 6px);
}

img {
    width: 100%;
    display: inline-block;
}


#testimonials {
    background: url(https://colorlib.com/illdy/wp-content/themes/illdy/layout/images/testiomnials-background.jpg);
    background-size: cover;
    text-align: center;
}

.img-fluid {
    max-width: 127px!important;
    height: 127px!important;
    display: block;
}

.item {
    display: block;
}

.quote {
    background-color: #6a4d8a;
    display: block;
}

.violet_triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 15px 0 15px;
    border-color: #6a4d8a transparent transparent transparent;
    display: block;
    right: 50%;
}

.owl-nav {
    display: none;
}

.owl-theme .owl-dots {
    padding-bottom: 20px;
}

#services {
    background-size: cover;
    overflow: hidden;
    text-align: center;
}

h2 {
    font-weight: 900 !important;
    color: #545454;
}

small {
    color: #8c9597;
}

.color_red {
    color: rgb(241, 139, 109);
}

.color_yellow {
    color: rgb(241, 210, 4);
}

.color_violet {
    color: rgb(106, 77, 138);
}

h4 {
    font-weight: 900 !important;
}

#blog {
    background-size: cover;
    background-color: #222f36;
    overflow: hidden;
    text-align: center
}

.color_white {
    color: white;
}

#see_blog {
    background-color: #f1d204;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 12px;
}

#see_blog:hover {
    background-color: #522d80;
}

.card {
    border-radius: 0 !important;
    border: none !important;
}

.card-title {
    font-weight: 900 !important;
    color: #545454 !important;
    text-align: left !important;
}

.card_title:link {
    text-decoration: none !important;
    color: #545454 !important;
}

.card_title:active {
    text-decoration: none !important;
    color: #545454 !important;
}

.card_title:visited {
    text-decoration: none !important;
    color: #545454 !important;
}

.card_title:hover {
    text-decoration: none !important;
    color: #f1d204 !important;
}

.card-text {
    text-align: left !important;
}

.read_more {
    color: #f1d204;
    text-align: left !important;
    font-size: 14px;
    background-color: transparent;
    border: none;
}

.read_more:hover {
    color: #522d80;
}

#yellow_bg {
    background-image: url(https://cdn.colorlib.com/illdy/wp-content/themes/illdy/layout/images/front-page/front-page-counter.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.number {
    font-size: 60px;
    font-weight: 900;
}

#middle_number_desktop {
    border-left: white solid 1px;
    border-right: white solid 1px;
}

.text-uppercase {
    font-size: 20px;
}

#team {
    background-size: cover;
    background-image: repeating-linear-gradient(120deg, #DCDCDC 1px, white 3px, white 6px);
    width: 100%;
    text-align: center;
}

.person {
    display: inline-block;
}

.about {
    display: inline-block;
}

.person_photo {
    width: 125px;
    height: 125px;
}

h5 {
    font-weight: 900 !important;
    color: #545454;
}

.icons {
    border: 1px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 15px;
}

#contact_us {
    background-size: cover;
    overflow: hidden;
    text-align: center;
}

.contact_info {
    display: inline-block;
}

.grey {
    color: #545454;
    display: inline-block;
}

#customer_support_desktop {
    border-left: 1px solid #8c9597;
    border-right: 1px solid #8c9597;
}
.divide {
    border-right: 2px solid lightgrey;
}

.form-control {
    border-radius: 0 !important;
}

.form-group {
    text-align: left;
    font-size: 14px;
    color: #545454;
}

#send {
    background-color: #f1d204;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 12px;
}

#send:hover {
    background-color: #522d80;
}

#footer {
    width: 100%;
    background-color: #292825;
}

li {
    list-style-type: none;
}

.footer_links:link {
    text-decoration: none !important;
    color: lightgrey; !important;
}

.footer_links:active {
    text-decoration: none !important;
    color: lightgrey !important;
}

.footer_links:visited {
    text-decoration: none !important;
    color: lightgrey !important;
}

.footer_links:hover {
    text-decoration: none !important;
    color: #522d80;
}

#theme {
    width: 100%;
    background-color: #242320;
    color: lightgrey;
}